@model GymBuddy.Models.ViewModels.BodybuildingVM
@*week 1*@

@*Day 1*@
<thead>
    <tr>
        <th>DAY 1</th>
    </tr>
    <tr>
        <th>Movement</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>1RM</th>
        <th>Weight (lb)</th>
        <th>RPE</th>
    </tr>
</thead>

<tbody>
    @*Squat*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 1056))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)%</td>
            <td>
                @{
                    var cal = (item.OneRepMax * (decimal).01) * Model.BodyBuildingWorkout.MaxSquat;
                }
                @String.Format("{0:0.00}", cal)
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @*Deadlifts*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 1057))
     {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)%</td>
            <td>
            @{
                var cal = (item.OneRepMax * (decimal).01) * Model.BodyBuildingWorkout.MaxDeadLift;
            }
            @String.Format("{0:0.00}", cal)
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

     }
    @*Bulgarian Split Squats*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 1058))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @*Calf Raises W/ Smith Machine*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 1059))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
</tbody>


@*Day 2*@

<thead>
    <tr>
        <th>DAY 2</th>
    </tr>
    <tr>
        <th>Movement</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>1RM</th>
        <th>Weight (lb)</th>
        <th>RPE</th>
    </tr>
</thead>
<tbody>
    @*Bench*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 1060))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)%</td>
            <td>
                @{
                    var cal = (item.OneRepMax * (decimal).01) * Model.BodyBuildingWorkout.MaxBench;
                }
                @String.Format("{0:0.00}", cal)
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @*Seated Cable Rows*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 1061))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>

            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @*Overhead Press*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 1078))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
                
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @*Chin Ups*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 1063))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @*Cable Flys*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 1064))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
</tbody>


@*Day 3*@

<thead>
    <tr>
        <th>DAY 3</th>
    </tr>
    <tr>
        <th>Movement</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>1RM</th>
        <th>Weight (lb)</th>
        <th>RPE</th>
    </tr>
</thead>
<tbody>
    @*Barbell Hip Thrusts*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 1065))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
                
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @*Seated Leg Press*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 1066))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
                
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @*Leg Extension*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 1067))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @*Leg Curl*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 1068))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @*Seated Calf Raise*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 1069))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
</tbody>


@*Day 4*@

<thead>
    <tr>
        <th>DAY 4</th>
    </tr>
    <tr>
        <th>Movement</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>1RM</th>
        <th>Weight (lb)</th>
        <th>RPE</th>
    </tr>
</thead>
<tbody>
    @*Bench*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 107))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)%</td>
            <td>
                @{
                    var cal = (item.OneRepMax * (decimal).01) * Model.BodyBuildingWorkout.MaxBench;
                }
                @String.Format("{0:0.00}", cal)
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @*Seated Cable Rows*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 1070))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
               
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @*Barbell Incline Press*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 1071))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @*Chin Ups*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 1072))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @*Tricep Pushdowns*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 1073))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @*Hammer curls*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 63))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
</tbody>
