@model GymBuddySite.Models.Maxlift

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Maxlift</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxBench)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxBench)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxSquat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxSquat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxDeadLift)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxDeadLift)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Workout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Workout.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaxliftsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
