@model GymBuddy.Models.ViewModels.PowerliftingVM
@*week 1*@
@*Day 1*@

<thead style="color: #b88746;">
    <tr>
        <th>DAY 1</th>
    </tr>
    <tr>
        <th>Movement</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>1RM</th>
        <th>Weight (lb)</th>
        <th>RPE</th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 2))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)%</td>
            <td>
                @{
                    var cal = (item.OneRepMax * (decimal).01) * Model.PowerliftWorkout.MaxDeadLift;
                }
                @String.Format("{0:0.00}",cal)
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }

    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 3))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>As Much Reps As Possible (AMRAP)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)%</td>
            <td>
                @{
                    var cal = (item.OneRepMax * (decimal).01) * Model.PowerliftWorkout.MaxDeadLift;
                }
                @String.Format("{0:0.00}", cal)
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }

    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 4))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 5))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 6))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 7))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps) seconds</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
</tbody>


@*Day 2*@

<thead style="color: #b88746;">
    <tr>
        <th>DAY 2</th>
    </tr>
    <tr>
        <th>Movement</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>1RM</th>
        <th>Weight (lb)</th>
        <th>RPE</th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 8))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }

    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 9))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)%</td>
            <td>
                @{
                    var cal = (item.OneRepMax * (decimal).01) * Model.PowerliftWorkout.MaxBench;
                }
                @String.Format("{0:0.00}",cal)
                    
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }

    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 10))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>As Much Reps As Possible (AMRAP)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)%</td>
            <td>
                @{
                    var cal = (item.OneRepMax * (decimal).01) * Model.PowerliftWorkout.MaxBench;
                }
                @String.Format("{0:0.00}", cal)
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 11))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 12))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 13))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 14))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
</tbody>


@*Day 3*@

<thead style="color: #b88746;">
    <tr>
        <th>DAY 3</th>
    </tr>
    <tr>
        <th>Movement</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>1RM</th>
        <th>Weight (lb)</th>
        <th>RPE</th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 15))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)%</td>
            <td>
                @{
                    var cal = (item.OneRepMax * (decimal).01) * Model.PowerliftWorkout.MaxSquat;
                }
                @String.Format("{0:0.00}", cal)
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }

    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 16))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>As Much Reps As Possible (AMRAP)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
                @{
                    var cal = (item.OneRepMax * (decimal).01) * Model.PowerliftWorkout.MaxSquat;
                }
                @String.Format("{0:0.00}", cal)
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }

    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 17))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 18))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 19))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
</tbody>


@*Day 4*@

<thead style="color: #b88746;">
    <tr>
        <th>DAY 4</th>
    </tr>
    <tr>
        <th>Movement</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>1RM</th>
        <th>Weight (lb)</th>
        <th>RPE</th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 2))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
                @{
                    var cal = (item.OneRepMax * (decimal).01) * Model.PowerliftWorkout.MaxDeadLift;
                }
                @cal
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }

    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 3))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>As Much Reps As Possible (AMRAP)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
                @{
                    var cal = (item.OneRepMax * (decimal).01) * Model.PowerliftWorkout.MaxDeadLift;
                }
                @cal
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }

    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 4))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 5))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 6))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 7))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps) seconds</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
</tbody>
