@model GymBuddy.Models.ViewModels.PowerliftingVM
@*week 1*@
@*Day 1*@

<thead>
    <tr>
        <th>DAY 1</th>
    </tr>
    <tr>
        <th>Movement</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>1RM</th>
        <th>Weight (lb)</th>
        <th>RPE</th>
        @*<th>Progress</th>*@
    </tr>
</thead>
<tbody>
    @*Deadlifts*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 2))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)%</td>
            <td>
                @{
                    var cal = (item.OneRepMax * (decimal).01) * Model.PowerliftWorkout.MaxDeadLift;
                }
                @String.Format("{0:0.00}", cal)
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
            @*<td>
                    <div>
                        <input  type="checkbox" id="plBox1">
                        <label  for="plBox1">Done</label>
                    </div>
                </td>*@
        </tr>

    }
    @*Deadlifts AMRAP 70%*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 3))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>As Much Reps As Possible (AMRAP)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)%</td>
            <td>
                @{
                    var cal = (item.OneRepMax * (decimal).01) * Model.PowerliftWorkout.MaxDeadLift;
                }
                @String.Format("{0:0.00}", cal)
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
            @*<td>
                    <div>
                        <input type="checkbox" id="plBox2">
                        <label for="plBox2">Done</label>
                    </div>
                </td>*@
        </tr>

    }
    @*Tempo Squat*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 4))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
            @*<td>
                    <div>
                        <input type="checkbox" id="plBox3">
                        <label for="plBox3">Done</label>
                    </div>
                </td>*@
        </tr>

    }
    @*Stiff Leg Deadlifts*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 5))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @*Barbell Rows*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 6))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @*Plank*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 7))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps) seconds</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
</tbody>


@*Day 2*@

<thead>
    <tr>
        <th>DAY 2</th>
    </tr>
    <tr>
        <th>Movement</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>1RM</th>
        <th>Weight (lb)</th>
        <th>RPE</th>
    </tr>
</thead>
<tbody>
    @*Face Pull*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 8))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @*Bench*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 9))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)%</td>
            <td>
                @{
                    var cal = (item.OneRepMax * (decimal).01) * Model.PowerliftWorkout.MaxBench;
                }
                @String.Format("{0:0.00}", cal)

            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @*Bench AMRAP 70%*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 10))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>As Much Reps As Possible (AMRAP)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)%</td>
            <td>
                @{
                    var cal = (item.OneRepMax * (decimal).01) * Model.PowerliftWorkout.MaxBench;
                }
                @String.Format("{0:0.00}", cal)
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @*DB Incline*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 11))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @*Pull Down*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 12))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @*Skull Crusher*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 13))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @*Hammer Curl*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 14))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
</tbody>


@*Day 3*@

<thead>
    <tr>
        <th>DAY 3</th>
    </tr>
    <tr>
        <th>Movement</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>1RM</th>
        <th>Weight (lb)</th>
        <th>RPE</th>
    </tr>
</thead>
<tbody>
    @*Squat*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 15))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)%</td>
            <td>
                @{
                    var cal = (item.OneRepMax * (decimal).01) * Model.PowerliftWorkout.MaxSquat;
                }
                @String.Format("{0:0.00}", cal)
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @*Squat AMRAP 70%*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 16))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>As Much Reps As Possible (AMRAP)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)%</td>
            <td>
                @{
                    var cal = (item.OneRepMax * (decimal).01) * Model.PowerliftWorkout.MaxSquat;
                }
                @String.Format("{0:0.00}", cal)
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @*Block Pull*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 17))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @*Barbell Row*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 18))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @*Plank*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 19))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps) seconds</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
</tbody>


@*Day 4*@

<thead>
    <tr>
        <th>DAY 4</th>
    </tr>
    <tr>
        <th>Movement</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>1RM</th>
        <th>Weight (lb)</th>
        <th>RPE</th>
    </tr>
</thead>
<tbody>
    @*Face Pull*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 8))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @*Spoto Bench*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 20))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)%</td>
            <td>
                @{
                    var cal = (item.OneRepMax * (decimal).01) * Model.PowerliftWorkout.MaxBench;
                }
                @String.Format("{0:0.00}", cal)
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @*Overhead Press*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 21))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @*Overhead Press*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 22))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>As Much Reps As Possible (AMRAP)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @*Pull Down*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 23))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
    @*Tricep Push Down*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 24))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }

    @*DB Curl*@
    @foreach (var item in Model.WorkoutExercises.Where(c => c.WorkoutExerciseId == 25))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
            <td>@Html.DisplayFor(modelItem => item.OneRepMax)</td>
            <td>
            </td>
            <td> @Html.DisplayFor(modelItem => item.RPE)</td>
        </tr>

    }
</tbody>

